/* src/App.css */

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  color: #fff;
  background: #2c3e50; /* Dark background color */
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to right, #2c3e50, #4ca1af);
  transition: background 0.5s ease-in-out;
}

h1 {
  font-size: 3em;
  margin-bottom: 30px;
  color: #3498db;
  text-shadow: 2px 2px 4px rgba(52, 152, 219, 0.5);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

label {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #ecf0f1;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px; /* Adjust the width as needed */
  position: relative;
}

input {
  padding: 15px;
  font-size: 1.2em;
  border: 2px solid #3498db;
  border-radius: 10px;
  width: 100%; /* Fill the container */
  margin-bottom: 20px;
  text-align: center; /* Center the text */
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  background-color: rgba(255, 255, 255, 0.8);
  color: #34495e;
  animation: bounce 0.5s infinite alternate; /* Added bounce animation */
}

input:focus {
  border-color: #2980b9;
  box-shadow: 0 0 15px rgba(52, 152, 219, 0.7);
  animation: none; /* Disable bounce animation when focused */
}

@keyframes bounce {
  to {
    transform: translateY(-5px); /* Adjust the bounce height as needed */
  }
}

button {
  padding: 15px 30px;
  font-size: 1.4em;
  background-color: #2ecc71;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #27ae60;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative; /* Added to make positioning absolute within relative container */
}

h2 {
  font-size: 2em;
  color: #ecf0f1;
  margin-bottom: 20px;
}

.img-container {
  position: relative;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  margin: 15px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
  position: relative; /* Added for z-index */
}

img:hover {
  transform: scale(1.1);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  animation: sparkle 0.5s ease-in-out;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 60%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Additional styles */

.dim {
  filter: brightness(70%);
  transition: filter 0.5s ease;
}

.quote-container {
  position: absolute;
  top: 50%; /* Adjust to center vertically */
  left: 50%;
  transform: translate(-50%, -50%); /* Center both horizontally and vertically */
  text-align: center;
  padding: 20px;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 12px;
  width: 100%; /* Full width */
  max-width: 300px; /* Limit the width to prevent long quotes from exceeding the screen */
  font-size: 1.2em;
  line-height: 1.5;
}

@media only screen and (max-width: 600px) {
  /* Adjustments for smaller screens */

  .App {
    padding: 20px; /* Add padding to the main container for better readability */
  }

  h1 {
    font-size: 2em; /* Decrease the font size of the heading */
  }

  form {
    margin-bottom: 20px; /* Decrease margin for the form */
  }

  label {
    font-size: 1.2em; /* Decrease font size for labels */
  }

  .input-container {
    width: 100%; /* Full width for input container */
  }

  input {
    font-size: 1em; /* Decrease font size for input */
  }

  button {
    padding: 10px 20px; /* Decrease padding for button */
    font-size: 1.2em; /* Decrease font size for button */
  }

  .image-container {
    padding: 10px; /* Add padding to the image container */
  }

  h2 {
    font-size: 1.5em; /* Decrease font size for secondary headings */
    margin-bottom: 15px; /* Decrease margin for secondary headings */
  }

  img {
    margin: 10px; /* Decrease margin for images */
  }

  .modal-content {
    width: 80%; /* Adjust the width of the modal content for smaller screens */
  }

  .quote-container {
    padding: 10px; /* Add padding to the quote container */
    font-size: 1em; /* Decrease font size for quotes */
  }
}
